#!/bin/bash

# Switch to virtualenv with with the same name as the current directory.
workon() {
    if [[ $# -eq 0 ]]; then
        dirname=$(basename "$PWD")
    else
        dirname=$1
    fi
    echo "Activating virtualenv $dirname"
    . ~/.virtualenvs/"${dirname}"/bin/activate
}

gitpush() {
    git push --set-upstream origin "$(git rev-parse --abbrev-ref HEAD)"
}

alias wo=workon
alias gpush=gitpush
# The next two require using hub https://hub.github.com/
alias prmaster=git pull-request -b master
alias prmain=git pull-request -b main

alias glog=git log --color --graph --date=format:'%Y-%m-%d %H:%M:%S' --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(blue)<%an>%Creset' --abbrev-commit
